:root {
    --main-text-color: #434455;
    --title-text-color: #2e2f42;
    --primary-brand: #4d5ae5;
    --accent-color: #e7e9fc;
    --light-mode: #f4f4fd;
    --pressed-state: #404bbf;
    --main-bg-color: #ffffff;
    --secondary-bg-color: #f4f4fd;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

/*---------------------- INDEX.HTML--------------------- */
/* -----------------------HEADER----------------------- */


.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
}

.box {
    display: flex;
}

.nav-item {
    display: flex;
    align-items: center;

}

.nav-item .item+.item {
    margin-left: 40px;
}

.logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;


    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
}

.dark-text {
    color: var(--title-text-color);
}

.site-nav {
    display: flex;
    margin-left: 70px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.site-nav .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--pressed-state);
}

.contacts {
    margin-left: auto;

    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts-item {
    display: flex;
}

.contacts .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--main-text-color);
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--pressed-state);
}


.contacts .item+.item {
    margin-left: 40px;
}



/* -----------------------/HEADER----------------------- */
/* -----------------------MAIN----------------------- */
/* -----------------------HERO----------------------- */
.hero {
    background-color: var(--title-text-color);
    padding: 188px 0px;

    text-align: center;
}

.main-title {
    margin-top: 0px;
    margin-bottom: 48px;

    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--main-bg-color);
}

.order-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--main-bg-color);

    background: var(--primary-brand);

    border-radius: 4px;
    border: 0px;
    padding: 16px 32px;
    min-width: 169px;

}

.order-btn:hover,
.order-btn:focus {
    background-color: var(--pressed-state);
    cursor: pointer;
}

/* -----------------------/HERO----------------------- */
/* -----------------------SECTIONS----------------------- */


.skils,
.team {
    padding-bottom: 120px;
}

.team {
    background-color: var(--secondary-bg-color);
}

.card-bgc {
    background-color: var(--main-bg-color);
}


/* --------H2---------- */
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--title-text-color);

    margin-bottom: 72px;
}

/* -------H3---------- */
.section-description {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);

    margin-bottom: 8px;
}

.section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* -----------------FEATURES------------------------ */
.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-item {
    display: flex;
}

.features-item .item+.item {
    margin-left: 24px;
}

/* -----------------/FEATURES------------------------ */
/* -----------------SKILS----------------------- */
.skils-item {
    display: flex;
}

.skils-item .item+.item {
    margin-left: 24px;
}

/* -----------------------/MAIN----------------------- */
/* -----------------------FOOTER----------------------- */
.footer {
    background-color: var(--title-text-color);
}

.light-text {
    color: var(--light-mode);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

/* -----------------------/FOOTER----------------------- */

/* ---------------PORTFOLIO PAGE--------------------------- */
/* --------------BUTTONS------------------- */
.filter-button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    color: var(--primary-brand);
    background-color: var(--light-mode);
}

.filter-button:hover,
.filter-button:focus {
    background-color: var(--pressed-state);
    color: var(--main-bg-color);
    cursor: pointer;
}

/* --------------/BUTTONS------------------- */

/* --------------LINKS------------------- */
.link-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}